[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.0.4"
mkdocs-material = "==4.1.1"
pymdown-extensions = "==6.0"
pyyaml = "==5.1"

[dev-packages]

[requires]
python_version = "3"

[scripts]
build = "mkdocs build"
serve = "mkdocs serve -a 0.0.0.0:8000"
gh-deploy = "mkdocs gh-deploy"
