[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
pyyaml = ">=4.2b1"

[dev-packages]

[requires]
python_version = "3"

[scripts]
build = "mkdocs build"
serve = "mkdocs serve -a 0.0.0.0:8000"
gh-deploy = "mkdocs gh-deploy"

[pipenv]
allow_prereleases = true
